/*@font-face {
  font-family: 'futura';
  src:  url("fonts/futura.ttf") format('truetype'), 
        url("fonts/futura.otf");
  font-weight: normal;
}*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  /*font-family: 'futura';*/
  color: black;
  position: relative;
  overflow-x: hidden;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
a{
  text-decoration: none;
}
*:focus{
	outline: none;
}
button, input, select {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none !important;
}
.contentScroll{
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.notV {
  visibility: hidden;
  opacity: 0;
}
.notAction, [class *= "btns"][class *= "disabled"] {
  pointer-events: none;
}
.noSelect, .noSelect > * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.inl{
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}
.relative{
  position: relative;
}
[class *= "cnt"] {
  position: absolute;
  margin: auto;
}
.cntV, .cnt{
  top: 0;
  bottom: 0;
}
.cntH, .cnt{
  left: 0;
  right: 0;
}
.full {
  width: 100%;
  height: 100%;
}
.backImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clrBlack{
  color: black;
}
.clrWhite{
  color: white;
}
.bld {
  font-weight: 600;
}
.txtC{
  text-align: center;
}
.txtR{
  text-align: right;
}

[class *= "btns"]{
	height: 36px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
  position: relative;
	background-color: black;
}
[class *= "btns"] p{
  color: white;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-property: color, letter-spacing;
  -webkit-transition-property: color, letter-spacing;
}
@media (hover: hover){
  [class *= "btns"]:hover p {
    letter-spacing: 4.5px;
    color: #EBEBEB;
  }
}












