<section id="slide" #slide>
  <div class="full swipe-pn" id="banner">
    <div  class="swipe-pn-wrap" >
      <div *ngFor="let banner of banners;let i = index;" class="slider backImg {{i === 0 ? 'show' : ''}}" [style.background-image]="banner.imgback | sanitizerUrl">
        <div [style.background-image]="banner.imgmobileback | sanitizerUrl" class="backImg hidden imgMobile"></div>
      </div>
    </div>
  </div>
  <div class="controls dots cntH">
    <div *ngFor="let dot of sliderBanner.dots;let i = index;" [class.active]="i === 0" class="dot" (click)="sliderBanner.next(i)"></div>
  </div>
  <img alt="arrows" src="assets/images/icons/arrow-left.svg" class='rightRs cntV' (click)="sliderBanner.next(-9)" id="nextBanner">
  <img alt="arrows" src="assets/images/icons/arrow-right.svg" class='rightRs cntV'>
  <img alt="arrows" src="assets/images/icons/arrow-left.svg" class='leftRs cntV' (click)="sliderBanner.next(-1)" id="prevBanner">
  <img alt="arrows" src="assets/images/icons/arrow-right.svg" class='leftRs cntV'>
</section>





